@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --green500: hsl(158, 36%, 37%);
    --green700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}

body {
    /* overflow: hidden; */
    background-color: var(--cream);

}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 44rem;
    margin: auto;
    border-radius: 1rem;
    background-color: var(--white);
}

.main_img {
    width: 50%;
}

.main_img img {
    width: 100%;
    height: auto;
}

.desktop-image {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    display: block;
}

.mobile-image {
    display: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.main_content {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.main_content h3 {
    text-transform: uppercase;
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.3rem;
}

.main_content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    margin-block-start: 0.5rem;
}

.main_content p {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 0;
    word-spacing: 0.2rem;
}

.main_price {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.new_price {
    color: var(--green500);
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.old_price {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    padding-block-start: 0.8rem;
}

.to-cart {
    padding: 1.2rem;
    color: var(--white);
    background-color: var(--green500);
    font-size: 0.875rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-radius: 0.625rem;
}
.to-cart:hover, 
.to-cart:active {
    background-color: var(--green700);
    cursor: pointer;
}

.fa-cart-shopping {
    margin-inline-end: 0.625em;
}

.attribution {
    margin-block-start: 0;
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile responsiveness */
/* 768px == 48rem */
@media (max-width: 48rem) {
    .main {
        margin: 2em 1em;
        height: auto;
        align-items: stretch;
    }

    .container {
        flex-direction: column;
        max-width: 37.5rem;
        margin-block-end: 0.5rem;
        width: 100%;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .main_img {
        width: 100%;
    }

    .main_content {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
    }

    .main_content h1 {
        font-size: 1.8rem;
    }

    .main_content p {
        font-size: 0.8125rem;
    }

    .new_price {
        font-size: 2rem;
    }

    .to-cart {
        width: 100%;
        padding: 1rem;
    }

}